table, td, th {
    border: 1px solid rgb(211, 201, 201);
    padding: 7px;
    border-collapse: collapse;
    text-align: left;
}

table td:nth-child(3),table td:last-child {
    padding-right: 35px;
}

table {
    margin-top: 10px;
}

.secondRow {
    background-color: yellow;
}

/* .email {
    background-color: yellow;
} */

table:nth-child(2) tr td:nth-child(3), table:nth-child(2) th:nth-child(3) {
    background-color: yellow;
}