/* <!-- #008e99 --> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Header */
header {
    color: #008e99;
    text-shadow: 0px 1px 10px gray;
}
/* Tasks */
#tasks {
    padding: 20px 0px;
}
.btn {
    width: 20%;
    background-color: #268d94;
    padding: 12px;
    border: none;
    color: white;
    text-shadow: 0px 1px 10px gray;
    border-radius: 5px;

}
/* Message */
#messages {
background-color: teal;
overflow: hidden;
margin-bottom: 50px;
padding: 50px 0;
}

#messages li {
    margin: 10px;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    border-radius: 5px 5px 5px 0;
    width: 50.1%;
}

#messages li .username, #messages li .message {
    font-weight: bold;
}
#messages li .date {
    color: gray;
}

#messages li:nth-child(odd) {
    background-color: aquamarine;
    float: left;
}
#messages li:nth-child(even) {
    float: right;
}

form {
 padding: 5px 0px;
}

#message, #userName {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 10px gray;
    
}