
h1 {
    text-align: center;
    padding: 15px 0px;
}

/* Header */
header {
    background-color: aquamarine;
    /* position: fixed;
    top: 0; */
}

/* Nav */

nav ul li {
    list-style-type: none;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 20px;
    background-color: aqua;
    border-bottom: 2px solid aquamarine;
    color: black;
}

nav ul li a:hover {
    background-color: aquamarine;
    border-bottom: 2px solid aqua;
}

nav ul li a i {
    padding-right: 10px;
}

/* Aside */
aside {
    padding: 20px;
    background: linear-gradient(aqua, white);
}

/* Section with images */
.row section img {
    width: 100%;

}

/* Sections  - biljke, zivotinje, pejzazi */
.row:nth-of-type(4) section {
    padding: 20px;
    background: linear-gradient(aqua, white);
    padding-bottom: 100px;
}

/* Moze i row od sekcija biljek, zivotinjue, pejzazi da mu se zada class i da mu se dodeli margin-bottom koliko je potrebno da bi se udaljilo od fiskiranog futera */

/* Footer */
footer {
    position: fixed;
    background-color: aquamarine;
    bottom: 0;
}
