/* Tabela */
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}
td {
    border: 1px solid black;
}

.obojeno {
    background-color: aqua;
}

.obojeno1 {
    background-color: cadetblue;
}

span {
    display: inline-block;
    border: 1px solid black;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;

}